@model KudissangaSite.Models.Cliente

@{
    ViewData["Title"] = "Eliminar cliente";
}

<h2 style="padding-top:20px">@ViewData["Title"]</h2>

<h3>Tens a certeza que pretendes eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </form>
</div>
